NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/v1/
PORT=3000
# Next App FRONTEND Instrumentation
NEXT_PUBLIC_FARO_URL=http://localhost:12347/collect
NEXT_PUBLIC_FARO_APP_NAME=next-frontend
NEXT_PUBLIC_FARO_APP_NAMESPACE=nextjs-example
NEXT_PUBLIC_FARO_APP_VERSION=1.0.0
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_METRICS_ENABLED=false

# Next App BACKEND Instrumentation
## Example assumes that the collector is running on the same machine
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
## Force protobuf
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
## Set Backend service name
OTEL_SERVICE_NAME=next-backend
## Customize resource attributes, namespace is a recommended attribute
OTEL_RESOURCE_ATTRIBUTES=service.namespace=nextjs-example

# Option special per CI workflow
SKIP_ENV_VALIDATION=true/false
