# Сборка и зависимости
node_modules
.next
out
build
dist

# Статика и кэш
public
.pnpm-home
.pnpm-store
*.tsbuildinfo

# Логи и отчеты
coverage
*.log
.npm

# Конфиги и инфраструктура (обычно их не форматируют так же, как код)
Dockerfile*
pnpm-lock.yaml
.dockerignore
.gitignore

# Секреты
.env*

.prettierignore
.github/
