PORT=3005

# База данных
#DB_HOST=postgres
#DB_USERNAME=postgres
#DB_PASSWORD=postgres
#DB_DATABASE=postgres

DATABASE_URL="postgresql://postgres:root@localhost:5432/task-tracker"
JWT_SECRET=jwt-secret
JWT_EXPIRES_IN=7d
NODE_ENV=dev