PORT=3005
DATABASE_URL="postgresql://postgres:root@localhost:5432/task-tracker"
JWT_SECRET=jwt-secret
JWT_EXPIRES_IN=7d
NODE_ENV=dev
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://my-jira-clone.com